<!--use this as template for integration into drupal-->
<div id="widget" class="gallery-widget" apiKey="mdDIUVkJ0AyFNA23UF0J0ztA8r72kbXe" galleryId="bzukpr_widgets_drgal_2" registryUrl="http://registr.bz-uk.roamingowl.com" apiEndpoint="https://register.bz-uk.roamingowl.com/widgets/dp-gallery/"/>
<script src="//registr.bz-uk.roamingowl.com/widgets/drupal_gallery_react.js"></script>
<script>
    var link = document.createElement( "link" );
    link.href = "//registr.bz-uk.roamingowl.com/widgets/drupal_gallery_react.css"
    link.type = "text/css";
    link.rel = "stylesheet";
    link.media = "screen,print";
    document.getElementsByTagName( "head" )[0].appendChild( link );
</script>